@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .striped li:nth-child(even) {
    @apply bg-lightgray hover:bg-secondary dark:bg-gray dark:hover:bg-lightgray dark:text-black
  }

  .posts-striped li:nth-child(even) {
    @apply bg-lightgray dark:bg-gray dark:text-black
  }
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
